<!-- navbar header -->
<div ng-controller="headerCtrl">
    <div class="navbar-header {{app.settings.navbarHeaderColor}}">
        <button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
            <i class="glyphicon glyphicon-cog"></i>
        </button>
        <button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll-to="app">
            <i class="glyphicon glyphicon-align-justify"></i>
        </button>
        <!-- brand -->
        <a ui-sref="app.dashboard-v1" class="navbar-brand text-lg">
            <img width="20px" height="40px" src="img/davat1.png" alt=".">
            <span class="hidden-folded m-l-xs">{{app.name ='پنل مدیریت دوات'}}</span>
        </a>
        <!-- / brand -->
    </div>
    <!-- / navbar header -->

    <!-- navbar collapse -->
    <div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}">
        <!-- buttons -->
        <div class="nav navbar-nav hidden-xs">
            <a href class="btn no-shadow navbar-btn" ng-click="app.settings.asideFolded = !app.settings.asideFolded">
                <i class="fa {{app.settings.asideFolded ? 'fa-indent' : 'fa-dedent'}} fa-fw"></i>
            </a>
            <a href class="btn no-shadow navbar-btn" ui-toggle-class="show" target="#aside-user">
                <i class="icon-user fa-fw"></i>
            </a>
        </div>
        <!-- / buttons -->

        <!-- link and dropdown -->
        <ul class="nav navbar-nav hidden-sm">
            <li class="dropdown pos-stc" dropdown>
                <a href class="dropdown-toggle" dropdown-toggle>
                    <span>منو</span>
                    <span class="caret"></span>
                </a>
                <div class="dropdown-menu wrapper w-full bg-white">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="m-l-xs m-t-xs m-b-xs font-bold">داشبورد<span class="badge badge-sm bg-success">10</span>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <ul class="list-unstyled l-h-2x">
                                        <li>
                                            <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>غیبت ها</a>
                                        </li>
                                        <li>
                                            <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>موارد
                                                انضباطی</a>
                                        </li>
                                        <li>
                                            <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>دانش آموزان
                                                برتر</a>
                                        </li>
                                        <li>
                                            <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>معلمین برتر</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-6">
                                    <ul class="list-unstyled l-h-2x">
                                        <li>
                                            <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>رویداد
                                                ها</a>
                                        </li>
                                        <li>
                                            <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>ارجاع به
                                                دفتر</a>
                                        </li>
                                        <li>
                                            <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>تاخیرها</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 b-l b-light">
                            <div class="m-l-xs m-t-xs m-b-xs font-bold">گزارشات<span class="label label-sm bg-primary">12</span>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <ul class="list-unstyled l-h-2x">
                                        <li>
                                            <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>دانش آموزان</a>
                                        </li>
                                        <li>
                                            <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>معلمین</a>
                                        </li>
                                        <li>
                                            <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>کلاس ها</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-6">
                                    <ul class="list-unstyled l-h-2x">
                                        <li>
                                            <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>میانگین
                                                نمرات کلاس ها</a>
                                        </li>
                                        <li>
                                            <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>بالاترین و
                                                پایین ترین نمرات</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 b-l b-light">
                            <div class="m-l-xs m-t-xs m-b-sm font-bold">نمودار</div>
                            <div class="text-center">
                                <div class="inline">
                                    <div ui-jq="easyPieChart" ui-options="{
                          percent: 65,
                          lineWidth: 50,
                          trackColor: '{{app.color.light}}',
                          barColor: '{{app.color.info}}',
                          scaleColor: false,
                          size: 100,
                          rotate: 90,
                          lineCap: 'butt',
                          animate: 2000
                        }">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="dropdown" dropdown>
                <a href class="dropdown-toggle" dropdown-toggle>
                    <i class="fa fa-fw fa-plus visible-xs-inline-block"></i>
                    <span>دسترسی سریع</span> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" translate="header.navbar.new.PROJECT">Projects</a></li>
                    <li>
                        <a href>
                            <span class="badge bg-info pull-right">5</span>
                            <span translate="header.navbar.new.TASK">Task</span>
                        </a>
                    </li>
                    <li><a href translate="header.navbar.new.USER">User</a></li>
                    <li class="divider"></li>
                    <li>
                        <a href>
                            <span class="badge bg-danger pull-right">4</span>
                            <span translate="header.navbar.new.EMAIL">Email</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- / link and dropdown -->

        <!-- search form -->
        <form class="navbar-form navbar-form-sm navbar-left shift" ui-shift="prependTo" target=".navbar-collapse"
              role="search" ng-controller="TypeaheadDemoCtrl">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" ng-model="selected"
                           typeahead="state for state in states | filter:$viewValue | limitTo:8"
                           class="form-control input-sm bg-light no-border rounded padder"
                           placeholder="Search projects...">
                    <span class="input-group-btn">
                <button type="submit" class="btn btn-sm bg-light rounded"><i class="fa fa-search"></i></button>
              </span>
                </div>
            </div>
        </form>
        <!-- / search form -->

        <!-- nabar right -->
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown hidden-sm" is-open="lang.isopen" dropdown>
                <a href class="dropdown-toggle" dropdown-toggle>
                    <span>ترم جاری: </span>&nbsp;<span>{{act_trm}}</span> <b class="caret"></b>
                </a>
                <!-- dropdown -->
                <ul class="dropdown-menu animated fadeInRight w">
                    <li ng-repeat="item in terms">
                        <a ng-click="setAct_term(item.termid,item.title)"><span>{{item.title}}</span>&nbsp;/&nbsp;<span>سال تحصیلی : {{item.year}}</span></a>
                    </li>
                </ul>
                <!-- / dropdown -->
            </li>
            <li class="hidden-xs">
                <a ui-fullscreen></a>
            </li>
            <li class="dropdown" dropdown>
                <a href class="dropdown-toggle" dropdown-toggle>
                    <i class="icon-bell fa-fw"></i>
                    <span class="badge badge-sm up bg-danger pull-right-xs"><span style="font-family: Arial!important;">{{nearCheque.length}}</span></span>
                </a>
                <!-- dropdown -->
                <div class="dropdown-menu w-xl animated fadeInUp" ng-if="permi['wallet']" ng-show="nearCheque.length != '0'">
                    <div class="panel bg-white" >
                        <div class="panel-heading b-light bg-light">
                            <strong>اعلان ها</strong>
                        </div>
                        <div class="list-group">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <tbody>
                                        <tr ng-repeat="item in nearCheque">
                                            <td class="v-middle  media-middle text-center" scope="row">
                                              <span>شما در تاریخ :</span>&nbsp;<span dir="ltr">{{retdata(item.cheque_date)}}</span>&nbsp;چک دارید.
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <button ui-sref="app.page.wallet" style="float: left" class="btn-default">مشاهده همه</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / dropdown -->
            </li>
            <li class="dropdown" dropdown>
                <a href class="dropdown-toggle clear" dropdown-toggle>
              <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">

              </span>
                    <span class="hidden-sm hidden-md">{{schoolName}}</span> <b class="caret"></b>
                </a>
                <!-- dropdown -->
                <ul class="dropdown-menu animated fadeInRight w">

                    <li>
                        <a ui-sref="app.page.Setting">
                            <span>تنظیمات</span>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="app.page.profailAdmin">صفحه کاربری</a>
                    </li>
                    <li>
                        <a ui-sref="app.page.SupportPage">
                            پشتیبانی
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a ng-click="logoutAdmin()">خروج</a>
                    </li>
                </ul>
                <!-- / dropdown -->
            </li>
        </ul>
        <!-- / navbar right -->

    </div>
</div>
<!-- / navbar collapse -->
<script>
    app.controller('headerCtrl', ['$scope', '$filter', '$http', function ($scope, $filter, $http, $timeout) {
        // Daynamic***
        $scope.permi = new Object();
        dict = JSON.parse(localStorage.localmenu);
        $scope.permi = dict;

        $scope.act_trm = "";
        $scope.act_trm = localStorage.act_term_name;
        $scope.schoolName = localStorage.schoolname;
        var trm = {
            ViewName: "TermSelect",
            mutualTransaction: {
                kendoDataRequest: {
                    filter: {
                        field: "schoolid",
                        logic: "and",
                        operator: "eq",
                        value: localStorage.schoolId + ""
                    },
                }
            }
        }
        $http.post(URL_GET, JSON.stringify(trm))
            .success(function (result, status, headers, config) {
                $scope.terms = result.data;
            });

        var chc = {
            ViewName: "SelectNearCheque",
            parameters: [{key: "%schoolid", value: localStorage.schoolId}],
            mutualTransaction: {
                kendoDataRequest: {
                    filter: {
                        field: "pass",
                        logic: "and",
                        operator: "eq",
                        value: "0"
                    },
                }
            }
        }
        $http.post(URL_GET, JSON.stringify(chc))
            .success(function (result, status, headers, config) {
                $scope.nearCheque = result.data;
            });
        $scope.logoutAdmin = function () {
            var j = confirm("آیا میخواهید از حساب خود خارج شوید ؟");
            if (j === !0) {
                localStorage.adminCount = "";
                localStorage.adminId = "";
                localStorage.schoolId = "";
                document.location.replace("index.html");
            }
        }
        $scope.setAct_term = function ($id, $name) {
            localStorage.act_term_id = $id;
            localStorage.act_term_name = $name;
            document.location.reload();
        }

        $scope.retdata = function ($data) {
            return moment($data, 'YYYY-M-D').format('jYYYY-jM-jD');
        }
    }])
    ;
</script>