<div ng-controller="quizSchedule_exam">
    <div class="bg-light lter b-b wrapper-md" ng-init="app.settings.asideFixed = true;app.settings.headerFixed = true;">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                <h1 class="m-n font-thin h3"><img src="img/icon/clander.png" class="icnSize">تخصیص امتحانات
                    ({{this_exam.title}})</h1>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" style="float: left">
                    <div class="panel-body">
                        <button style="width: 100%" type="button" class="btn btn-addon , btn btn-default"><i
                                class="icon-arrow-left"></i> &nbsp;
                            بازگشت
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="line line-dashed  line-lg pull-in"></div>
    <div class="container">
        <div class="main-wrapper">
            <div class="row">
                <div class="container panel v-middle media-middle text-center align-items-center">
                    <br>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="panel-body">
                            <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label"
                                   style="margin-top: 8px;"><span
                                    class="starstyle">*</span>کلاس درس :</label>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <input ng-model="exm_classLesson" style="border: 1px #e0e0e0 solid"
                                           data-toggle="modal" data-target="#exams" ng-click="selectClassLesson()"  class="form-control text-sm btn-rounded no-border">
                                    <span class="input-group-btn"><a
                                            style="height: 34px;" ng-click="selectClassLesson()"
                                            tooltip="انتخاب کلاس درس"
                                            data-toggle="modal" data-target="#exams"
                                            class="btn btn-success btn-rounded no-border"><i
                                            class="glyphicon glyphicon-search"></i></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="panel-body">
                            <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label"
                                   style="margin-top: 8px;"><span
                                    class="starstyle">*</span>تاریخ :</label>
                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                <adm-dtp ng-model="exm_data" ng-required="true"
                                         options="{calType: 'jalali', format: 'YYYY-MM-DD',autoClose:true,default: 'today'}"></adm-dtp>
                            </div>
                        </div>
                    </div>
                    <div class="line line-dashed  line-lg pull-in"></div>
                    <br>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="panel-body">
                            <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"
                                   style="margin-top: 8px;">روز :</label>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <input ng-model="exm_day" class="form-control rounded" ng-change="editeCodemeli()"
                                       tooltip="روز برگذاری امتحان" ng-required="true" ng-disabled="true"
                                       type="text" placeholder="روز برگذاری امتحان....">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="panel-body">
                            <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"
                                   style="margin-top: 8px;"><span
                                    class="starstyle">*</span>از ساعت :</label>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <input ng-model="exm_start" class="form-control rounded" ng-change="editeCodemeli()"
                                       tooltip="ساعت شروع امتحان" ng-required="true"
                                       type="text" ui-mask="99:99">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="panel-body">
                            <label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label"
                                   style="margin-top: 8px;"><span
                                    class="starstyle">*</span>تا ساعت :</label>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <input ng-model="exm_end" class="form-control rounded" ng-change="editeCodemeli()"
                                       tooltip="ساعت پایان امتحان" ng-required="true"
                                       type="text" ui-mask="99:99">
                            </div>
                        </div>
                    </div>
                    <div class="line line-dashed line-lg pull-in"></div>
                    <br><br>
                    <div align="center">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7">
                                    <div class="panel-body">
                                        <button ng-click="insert_ExamPorogram()"
                                                style="width: 100%" type="submit" class="btn btn-success">
                                            <i class="icon-plus"></i> &nbsp; <span style="color: white">تایید</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
                                    <div class="panel-body">
                                        <a ng-click="BackToHistory()">
                                            <button style="width: 100%" type="submit" href="index.html"
                                                    class="btn btn-dark">
                                                <i class="icon-close"></i>
                                                &nbsp;
                                                <span> لغو </span></button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-lg" id="exams" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal">&times;
                        </button>
                        <h4 class="modal-title">
                            <img src="img/icon/class.png" class="icnSize">
                          لیست کلاس های درسی
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th scope="col" class="v-middle  media-middle text-center">انتخاب</th>
                                                    <th scope="col" class="v-middle  media-middle text-center">رشته تحصیلی</th>
                                                    <th scope="col" class="v-middle  media-middle text-center">عنوان کلاس</th>
                                                    <th scope="col" class="v-middle  media-middle text-center">معلم</th>
                                                    <th scope="col" class="v-middle  media-middle text-center">درس</th>
                                                    <th scope="col" class="v-middle  media-middle text-center">تعداد واحد</th>
                                                    <th scope="col" class="v-middle  media-middle text-center">ترم</th>
                                                    <th scope="col" class="v-middle  media-middle text-center">وضعیت درس</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat='mymodel in classLesson | filter : gsearch'>
                                                    <td scope="row">
                                                        <label class="containerCheckBox">
                                                            <br>
                                                            <input type="checkbox" ng-model="checkbox1"
                                                                   ng-change="itemArray(mymodel.classlessonteacherid,checkbox1,mymodel.className)">
                                                            <span class="checkmark2"
                                                                  style="margin-left: 5px;margin-top: 5px"></span>
                                                        </label>
                                                    </td>
                                                    <td class="v-middle  media-middle text-center">
                                                        {{ mymodel.majorName }}
                                                    </td>
                                                    <td class="v-middle  media-middle text-center">
                                                        {{ mymodel.className }}
                                                    </td>
                                                    <td class="v-middle  media-middle text-center">
                                                        {{ mymodel.firstname + ' ' + mymodel.lastname }}
                                                    </td>
                                                    <td class="v-middle  media-middle text-center">
                                                        {{ mymodel.lessonName}}
                                                    </td>
                                                    <td class="v-middle  media-middle text-center">
                                                        {{ mymodel.unitcount}}
                                                    </td>
                                                    <td class="v-middle  media-middle text-center">
                                                        {{ mymodel.termName}}
                                                    </td>
                                                    <td class="v-middle  media-middle text-center">
                                                        <span ng-show="mymodel.poodemani == '1'">درس پودمانی</span>
                                                        <span ng-show="mymodel.isdescriptive == '1'">درس توصیفی</span>
                                                        <span ng-show="mymodel.poodemani == '0' && mymodel.isdescriptive == '0'">درس عادی</span>

                                                    </td>

                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div style="width: 100%;margin-right: 20px;">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                        <button
                                                style="width: 100%;" data-dismiss="modal"
                                                type="submit" ng-click="insert_ExamPorogram()"
                                                class="btn btn-success">
                                            <i class="icon-plus"></i>&nbsp;<span> ثبت </span></button>
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                        <button data-dismiss="modal"
                                                style="width: 100%;"
                                                type="submit"
                                                class="btn btn-dark">
                                            <i class="icon-close"></i>&nbsp;<span> لغو </span></button>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
