<div ng-controller="class_fizikiCtrl">
    <div class="bg-light lter b-b wrapper-md" ng-init="app.settings.asideFixed = true;app.settings.headerFixed = true;">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                <h1 class="m-n font-thin h3"><img src="img/icon/class.png" class="icnSize"> لیست کلاس های فیزیکی</h1>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6" style="float: left">
                    <div class="panel-body">
                        <button type="button" style="width: 100%" class="btn btn-addon , btn btn-default"
                                data-toggle="modal"
                                data-target="#myModal"><i class="icon-plus"></i> &nbsp;افزودن کلاس فیزیکی جدید
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="line line-dashed  line-lg pull-in"></div>


    <div class="container">
        <div class="main-wrapper">
            <div class="row">
                <div class="container panel v-middle media-middle text-center align-items-center">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <td  style="width: 10%">#</td>
                                <td class="v-middle  media-middle text-center" style="width: 30%">عنوان کلاس</td>
                                <td class="v-middle  media-middle text-center" style="width: 20%">ظرفیت</td>
                                <td class="v-middle  media-middle text-center" style="width: 10%">ویرایش</td>
                                <td class="v-middle  media-middle text-center" style="width: 10%">حذف</td>
                                <td class="v-middle  media-middle text-center" style="width: 10%">جزییات</td>
                            </tr>
                            </thead>
                            <tbody infinite-scroll='load2()' infinite-scroll-distance='1'>
                            <tr ng-repeat='mymodel in name | filter : gsearch'>
                                <th scope="row" class="v-middle  media-middle text-center">
                                    {{mymodel.locationid}}
                                </th>
                                <td class="v-middle  media-middle text-center">
                                    {{ mymodel.name || 'خالی'}}
                                </td>
                                <td class="v-middle  media-middle text-center">
                                    {{ mymodel.capacity || 'خالی'}}
                                </td>
                                <td class="v-middle  media-middle text-center">
                                    <button ng-click="detial('upd',mymodel.locationid)" data-toggle="modal"
                                            data-target="#update" class="btn btn-sm btn-info">
                                        <i class="icon-pencil"></i>&nbsp;ویرایش
                                    </button>
                                </td>
                                <td class="v-middle  media-middle text-center">
                                    <button class="btn btn-sm btn-danger"
                                            ng-click="deleteClassFizizki((mymodel.locationid),(mymodel.name) )">
                                        <i class="icon-trash"></i>&nbsp;حذف
                                    </button>
                                </td>
                                <td class="v-middle  media-middle text-center">
                                    <button ng-click="detial('det',mymodel.locationid)" data-toggle="modal"
                                            data-target="#update" class="btn btn-sm btn-success"><i
                                            class="icon-eye">&nbsp;</i>
                                        مشاهده
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="update" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal">&times;
                        </button>
                        <h4 class="modal-title">
                            <img src="img/icon/report.png" class="icnSize">
                            {{locDetail.name}}
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="panel-body">
                                        <div class="alert alert-danger" ng-show="errText()">
                                            <i class="icon-info"></i> &nbsp; <strong> {{errText()}}&nbsp;</strong>
                                            &nbsp; را مشخص نمایید.
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="panel-body">
                                                <label class="col-sm-4 control-label"
                                                       style="margin-top: 8px;">شناسه:</label>
                                                <div class="col-sm-8">
                                                    <input ng-model="clsF_id" ng-disabled="true"
                                                           class="form-control rounded"
                                                           placeholder="شناسه ...."
                                                           ng-required="true" type="number"
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="panel-body">
                                                <label class="col-sm-4 control-label" style="margin-top: 8px;"><span
                                                        class="starstyle">*</span>عنوان : </label>
                                                <div class="col-sm-8">
                                                    <input ng-model="clsF_nameE" class="form-control rounded"
                                                           ng-disabled="desbaleForm()"
                                                           placeholder="عنوان کلاس...." tooltip="عنوان کلاس فیزیکی"
                                                           ng-required="true" type="text"
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="panel-body">
                                                <label class="col-sm-4 control-label" style="margin-top: 8px;">ظرفیت
                                                    : </label>
                                                <div class="col-sm-8">
                                                    <input ng-model="clsF_zarfiatE" class="form-control rounded"
                                                           ng-disabled="desbaleForm()"
                                                           placeholder="ظرفیت کلاس ...."
                                                           tooltip="ظرفیت کلاس برای مثال (20 نفر)"
                                                           ng-required="true" type="number"
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="panel-body">
                                                <label class="col-sm-4 control-label" style="margin-top: 8px;">تعداد
                                                    ستون صندلی: </label>
                                                <div class="col-sm-8">
                                                    <input ng-model="clsF_sotonE" class="form-control rounded"
                                                           ng-disabled="desbaleForm()"
                                                           placeholder="تعداد ستون  ...."
                                                           tooltip="تعداد ستون صندلی ها"
                                                           ng-required="true" type="number"
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="panel-body">
                                                <label class="col-sm-4 control-label" style="margin-top: 8px;">تعداد
                                                    سطر
                                                    صندلی:</label>
                                                <div class="col-sm-8">
                                                    <input ng-model="clsF_satrE" class="form-control rounded"
                                                           ng-disabled="desbaleForm()"
                                                           placeholder="تعداد سطر  ...."
                                                           tooltip="تعداد سطر صندلی ها"
                                                           ng-required="true" type="number"
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="panel-body">
                                                <label class="col-sm-4 control-label" style="margin-top: 8px;">از
                                                    شماره
                                                    صندلی
                                                    : </label>
                                                <div class="col-sm-8">
                                                    <input ng-model="clsF_azE" class="form-control rounded"
                                                           ng-disabled="desbaleForm()"
                                                           placeholder="از شماره  ...."
                                                           tooltip="شروع شماره صندلی برای امتحانات"
                                                           ng-required="true" type="number"
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="panel-body">
                                                <label class="col-sm-4 control-label" style="margin-top: 8px;">تا
                                                    شماره
                                                    صندلی
                                                    : </label>
                                                <div class="col-sm-8">
                                                    <input ng-model="clsF_taE" class="form-control rounded"
                                                           ng-disabled="desbaleForm()"
                                                           placeholder="تا شماره  ...." tooltip="پایان شماره صندلی"
                                                           ng-required="true" type="number"
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div style="width: 100%;margin-right: 20px;">
                            <br>
                            <div class="row">

                                <div class="col-xs-4 col-sm-2 col-md-4 col-lg-2"
                                     style="float: right;margin-right: 20px;color: white">
                                    <button data-dismiss="modal"
                                            style="width: 100%;background-color: #6c757d"
                                            type="submit" href="index.html"
                                            class="btn btn-light">
                                        <i class="icon-close"></i>&nbsp;<span> لغو </span></button>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4" style="float: right;color: white">
                                    <button ng-click="updateClassFiziki(locDetail.locationid)"
                                            style="width: 105%;background-color: #0F9E5E;"
                                            type="submit" class="btn btn-light">
                                        <i class="icon-pencil"></i> &nbsp; <span
                                            style="color: white"> ویرایش   </span>
                                    </button>
                                </div>

                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal">&times;
                        </button>
                        <h4 class="modal-title">
                            <img src="img/icon/class.png" class="icnSize">
                            افزودن کلاس فیزیکی جدید
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div class="row">
                                <div class="alert alert-danger" ng-show="errText()">
                                    <i class="icon-info"></i> &nbsp; <strong> {{errText()}}&nbsp;</strong> را مشخص
                                    نمایید .
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="panel-body">
                                        <label class="col-sm-4 control-label" style="margin-top: 8px;"><span
                                                class="starstyle">*</span>عنوان : </label>
                                        <div class="col-sm-8">
                                            <input ng-model="clsF_name" class="form-control rounded"
                                                   placeholder="عنوان کلاس...."
                                                   ng-required="true" type="text"
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="panel-body">
                                        <label class="col-sm-4 control-label" style="margin-top: 8px;">ظرفیت
                                            : </label>
                                        <div class="col-sm-8">
                                            <input ng-model="clsF_zarfiat" class="form-control rounded"
                                                   placeholder="ظرفیت کلاس ...."
                                                   ng-required="true" type="number"
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="panel-body">
                                        <label class="col-sm-4 control-label" style="margin-top: 8px;">تعداد ستون
                                            صندلی
                                            : </label>
                                        <div class="col-sm-8">
                                            <input ng-model="clsF_soton" class="form-control rounded"
                                                   placeholder="تعداد ستون  ...."
                                                   ng-required="true" type="number"
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="panel-body">
                                        <label class="col-sm-4 control-label" style="margin-top: 8px;">تعداد سطر
                                            صندلی
                                            : </label>
                                        <div class="col-sm-8">
                                            <input ng-model="clsF_satr" class="form-control rounded"
                                                   placeholder="تعداد سطر  ...."
                                                   ng-required="true" type="number"
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="panel-body">
                                        <label class="col-sm-4 control-label" style="margin-top: 8px;">از شماره
                                            صندلی
                                            : </label>
                                        <div class="col-sm-8">
                                            <input ng-model="clsF_az" class="form-control rounded"
                                                   placeholder="از شماره  ...."
                                                   ng-required="true" type="number"
                                            >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="panel-body">
                                        <label class="col-sm-4 control-label" style="margin-top: 8px;">تا شماره
                                            صندلی
                                            : </label>
                                        <div class="col-sm-8">
                                            <input ng-model="clsF_ta" class="form-control rounded"
                                                   placeholder="تا شماره  ...."
                                                   ng-required="true" type="number"
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <div style="width: 100%;margin-right: 20px;">
                            <br>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4" style="float: right;color: white">
                                    <button ng-click="insertClass_fizikiss()"

                                            style="width: 105%;background-color: #0F9E5E;"
                                            type="submit" class="btn btn-light">
                                        <i class=" icon-plus"></i> &nbsp; <span
                                            style="color: white"> تایید   </span>
                                    </button>
                                </div>

                                <div class="col-xs-4 col-sm-2 col-md-4 col-lg-2"
                                     style="float: right;margin-right: 20px;color: white">
                                    <button data-dismiss="modal"
                                            style="width: 100%;background-color: #6c757d"
                                            type="submit" href="index.html"
                                            class="btn btn-light">
                                        <i
                                                class="icon-close"></i>
                                        &nbsp;
                                        <span> لغو </span></button>
                                </div>

                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

