<div ng-controller="majorbase">
    <div class="bg-light lter b-b wrapper-md" ng-init="app.settings.asideFixed = true;app.settings.headerFixed = true;">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-7">
                <h1 class="m-n font-thin h3"><img src="img/icon/rele.png" class="icnSize"> لیست پایه های تحصیلی </h1>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-5">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="panel-body">
                        <button ui-sref="app.page.majorbase_insert({userId: 0})" style="width: 100%" type="button"
                                class="btn btn-addon , btn btn-default"><i class="icon-plus"></i> &nbsp;افزودن پایه
                            جدید
                        </button>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="panel-body">
                        <button style="width: 100%" type="button" class="btn btn-addon , btn btn-default"
                                ui-sref="app.page.majorbase_insert({userId: 1})"><i class="icon-plus"></i> &nbsp;افزودن
                            رشته
                            جدید
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="line line-dashed  line-lg pull-in"></div>
    <div class="container">
        <div class="main-wrapper">
            <div class="row">
                <div class="container panel v-middle media-middle text-center align-items-center">
                    <br>
                    <div id="w1-info-1" class="alert-warning alert fade in" style="text-align: right">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                        </button>
                        <h5>در صورت عدم نمایش همه مقاطع زوم صفحه خود را بروی %100 قرار دهید.</h5>
                    </div>
                    <div class="line line-dashed  line-lg pull-in"></div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <td
                                        style="text-align: center ">#
                                </td>
                                <td class="v-middle  media-middle text-center"
                                    style="text-align: center">
                                عنوان
                                مقطع
                                </td>

                                <td class="v-middle  media-middle text-center"
                                    style="text-align: center">دسته بندی
                                </td>
                                <td class="v-middle  media-middle text-center"
                                    style="text-align: center"> درباره رشته / پایه
                                </td>
                                <td class="v-middle  media-middle text-center"
                                    style="text-align: center ">ویرایش
                                </td>
                                <td class="v-middle  media-middle text-center"
                                    style="text-align: center ">حذف
                                </td>
                            </tr>
                            </thead>
                            <tbody infinite-scroll='load2()' infinite-scroll-distance='1'>
                            <tr ng-repeat='mymodel in name | filter : gsearch'>
                                <th scope="row">
                                    {{mymodel.majorbaseid}}
                                </th>
                                <td class="v-middle  media-middle text-center">
                                    {{ mymodel.title || 'خالی'}}
                                </td>
                                <td class="v-middle  media-middle text-center">
                                    {{ mymodel.pathname || 'خالی'}}
                                </td>
                                <td class="v-middle  media-middle text-center">
                                    <a ui-sref="app.page.aboutMajor({majorbaseid: mymodel.majorbaseid})" ng-show="mymodel.ismajor == 1">
                                        <button  class="btn btn-sm btn-blue btn-outline-primary">
                                            <i class="icon-info"></i>&nbsp;بخش درباره رشته
                                        </button>
                                    </a>

<!--                                    By Mohsen Start-->


                                    <a ui-sref="app.page.aboutBase({majorbaseid: mymodel.majorbaseid})" ng-show="mymodel.ismajor == 0">
                                        <button  class="btn btn-sm btn-default btn-purple">
                                            <i class="icon-info"></i>&nbsp;بخش درباره پایه
                                        </button>
                                    </a>

<!--                                    By Mohsen End-->
<!--                                    <h6  ng-show="mymodel.ismajor == 1" tooltip="این بخش فقط برای رشته ها فعال است">غیر فعال</h6>-->
                                </td>
                                <td class="v-middle  media-middle text-center">
                                    <button ng-show="mymodel.ismajor == 0" class="btn btn-sm btn-success"
                                            data-toggle="modal"
                                            data-target="#update"
                                            ng-click="detial(mymodel.majorbaseid,'0')">
                                        <i class="icon-pencil"></i>&nbsp;ویرایش پایه
                                    </button>
                                    <button ng-show="mymodel.ismajor == 1" class="btn btn-sm btn-info"
                                            data-toggle="modal"
                                            data-target="#update" ng-click="detial(mymodel.majorbaseid,'1')"><i
                                            class="icon-pencil"></i>&nbsp;ویرایش رشته
                                    </button>
                                </td>
                                <td class="v-middle  media-middle text-center">
                                    <button class="btn btn-sm btn-danger"
                                            ng-click="deleteMajorbase((mymodel.majorbaseid),(mymodel.title) )">
                                        <i class="icon-trash"></i>&nbsp;حذف
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="update" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close"
                                    data-dismiss="modal">&times;
                            </button>
                            <h4 class="modal-title">
                                <img src="img/icon/rele.png" class="icnSize">
                                ویرایش ({{thisMajorbase.title}})
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="panel-body">
                                            <div class="alert alert-danger" ng-show="errText()">
                                                <i class="icon-info"></i> &nbsp; <strong> {{errText()}}&nbsp;</strong>
                                                &nbsp; را مشخص نمایید.
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="panel-body">
                                                    <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label"
                                                           style="margin-top: 8px;"><span
                                                            class="starstyle">*</span>عنوان:</label>
                                                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                        <input ng-model="mb_name" class="form-control rounded"
                                                               tooltip="عنوان مقطع جدید"
                                                               placeholder="عنوان مقطع ...."
                                                               ng-required="true" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="panel-body">
                                                    <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label"
                                                           style="margin-top: 8px;">کد
                                                        :</label>
                                                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                        <input ng-model="mb_code" class="form-control rounded"
                                                               tooltip="کد پایه یا رشته مورد نظر"
                                                               placeholder="کد پایه / رشته...."
                                                               type="number">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="panel-body">
                                                    <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label"
                                                           style="margin-top: 8px;">شهریه
                                                        :</label>
                                                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                        <input ng-model="mb_shahriye" class="form-control rounded"
                                                               tooltip="شهریه "
                                                               placeholder="شهریه پایه / رشته...."
                                                               type="number">
                                                    </div>
                                                </div>
                                            </div>




                                            <div class="line line-dashed b-b line-lg pull-in"></div>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                                 ng-show="parrent.length != 0">
                                                <div class="panel-body">
                                                    <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label"
                                                           style="margin-top: 10px">مقطع
                                                        :</label>
                                                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                        <div class="input-group">
                                                            <input ng-disabled="true" value="{{thisMajorbase.pathname}}"
                                                                   class="form-control text-sm btn-rounded no-border">
                                                            <span class="input-group-btn"><a style="height: 34px;"
                                                                                             tooltip="ویرایش"
                                                                                             ng-click="editMB()"
                                                                                             class="btn btn-success btn-rounded no-border"><i
                                                                    class="glyphicon glyphicon-pencil"></i></a></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" style="border:  1px #f0f3f4 solid" ng-show="edit">
                                                    <div align="right" style="padding: 10px;">
                                                        <label class="control-label"><span class="starstyle">*</span>مقطع
                                                            تحصیلی:</label>
                                                    </div>
                                                    <div>
                                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                            <div class="panel-body">
                                                                <div class="col-sm-12">
                                                                    <select ng-required="true"
                                                                            ng-model="mb_parrent"
                                                                            ng-options="pr as pr.title for pr in parrent "
                                                                            class="form-control rounded"
                                                                            ng-change="seleteChild1(mb_parrent.majorbaseid,mb_parrent.title)">
                                                                        <option ng-selected="true" value="">select
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                                                             ng-show="mb_parrent && child1.length != 0">
                                                            <div class="panel-body">
                                                                <div class="col-sm-12">
                                                                    <select
                                                                            ng-model="mb_child1"
                                                                            ng-options="ch1 as ch1.title for ch1 in child1 "
                                                                            class="form-control rounded"
                                                                            ng-change="seleteChild2(mb_child1.majorbaseid , mb_child1.title)">
                                                                        <option ng-selected="true" value="">select
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                                                             ng-show="mb_child1 && child2.length != 0">
                                                            <div class="panel-body">
                                                                <div class="col-sm-12">
                                                                    <select
                                                                            ng-model="mb_child2"
                                                                            ng-options="ch1 as ch1.title for ch1 in child2 "
                                                                            class="form-control rounded"
                                                                            ng-change="seleteChild3(mb_child2.majorbaseid , mb_child2.title)">
                                                                        <option ng-selected="true" value="">select
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                                                             ng-show="mb_child2 && child3.length != 0">
                                                            <div class="panel-body">
                                                                <div class="col-sm-12">
                                                                    <select
                                                                            ng-model="mb_child3"
                                                                            ng-options="ch1 as ch1.title for ch1 in child3 "
                                                                            class="form-control rounded"
                                                                            ng-change="seleteChild4(mb_child3.majorbaseid , mb_child3.title)">
                                                                        <option ng-selected="true" value="">select
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <div style="width: 100%;margin-right: 20px;">
                                        <br>
                                        <div class="row">

                                            <div class="col-xs-4 col-sm-2 col-md-4 col-lg-2"
                                                 style="float: right;margin-right: 20px;color: white">
                                                <button data-dismiss="modal"
                                                        style="width: 100%;background-color: #6c757d"
                                                        type="submit" href="index.html"
                                                        class="btn btn-light">
                                                    <i class="icon-close"></i>&nbsp;<span> لغو </span></button>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4"
                                                 style="float: right;color: white">
                                                <button ng-click="editMajorBase(thisMajorbase.majorbaseid)"
                                                        style="width: 105%;background-color: #0F9E5E;"
                                                        type="submit" class="btn btn-light">
                                                    <i class="icon-pencil"></i> &nbsp; <span
                                                        style="color: white"> ویرایش   </span>
                                                </button>
                                            </div>

                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>